@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

body, html, div, a { 
    font-family: 'Orbit', sans-serif;
}
hr {
  background-color:rgb(63, 62, 71) !important; 
  border: none;
  display: block;
  height: 1px !important;
  margin: 5px 0 !important;
  
}

/* Navbar CSS */
nav {
    color: rgb(235, 235, 240);
}

.title,
.font-change {
    font-family: 'Orbit', sans-serif;
}

.nav_color,
.navbar,
.navbar-brand,
.navbar-menu {
    background-color: rgb(83, 112, 98);
}

.Instar,
.Github {
    background-color: rgb(235, 235, 240) !important;
    color: rgb(83, 112, 98);
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.nav_hover:hover {
    color: rgb(63, 62, 71) !important;
}

.text_colorWhilte {
    color: rgb(235, 235, 240);
}

.text_colorBlack {
    color: rgb(0, 0, 0);
}

.navbar-link:not(.is-arrowless)::after {
    border-color: rgb(63, 62, 71) !important;
}

.navbar-item:hover {
    color: rgb(63, 62, 71) !important;
}


/*Progress Bar*/
.progress{
   
}

/*TextBoard*/
.TextBoard{
    height: 50%;
}


