@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&family=Noto+Serif+KR&display=swap');


body, html, div { 
   font-family: "Gowun Dodum", sans-serif; 
}


body, html {
    height: 100%;
    margin: 0;
}

.has-background-green {
    background-color: rgb(63, 78, 60) !important;
}

.image img {
    max-height: 80vh; /* Adjust size */
    padding: 10px;
    text-align: center; /* 이미지를 중앙에 정렬 */
    max-width: 65%; /* 이미지 최대 너비 설정 */
    margin: 20px auto 0 auto; /* 중앙 정렬 */
}

.title {
    font-size: 73px !important;
    font-weight: 500 !important;
    line-height: 170% !important;
    text-align: center;

}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.greeting-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(63, 78, 60);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: none; /* Initially hidden */
    
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Start hidden */
    
}

.smaller-icon img {
    max-height: 20vh; /* 이미지 높이 제한 */
    max-width: 10%; /* 이미지 너비 제한 */
    margin: 20 auto; /* 중앙 정렬 */
}

.content{
    font-size: 60px;
    text-align: center;
    margin: 10px;
    line-height: 160%;
}


.buttons-box{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 */
    padding: 20px;           /* 버튼 주변에 여백 추가 */
}

.button{
    margin: 20px;
    font-size: 35px !important;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 500;
    
}

.log-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(63, 78, 60);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: none; /* Initially hidden */
    
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Start hidden */
}