<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>난이도 정보로 그림 제공</title>
    <script>
      // DOM이 로드된 후 초기 이미지를 로드하는 함수 실행
      window.onload = function () {
        loadImage("{{ url }}");
      };

      // 서버로부터 새로운 이미지 URL을 받아오고 이미지를 로드하는 함수
      function fetchOrderImage() {
        fetch("http://127.0.0.1:8000/picture-load/new/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Cache-Control": "no-cache",
          },
          body: JSON.stringify({ is_order: true }),
        })
          .then((response) => response.json())
          .then((data) => {
            var imageUrl = data.url;
            var imageOrder = data.order;
            loadImage(imageUrl);
            loadInfo(imageUrl, imageOrder);
          })
          .catch((error) => console.error("Error:", error));
      }

      function fetchRandomImage() {
        fetch("http://127.0.0.1:8000/picture-load/new/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ is_order: false }),
        })
          .then((response) => response.json())
          .then((data) => {
            var imageUrl = data.url;
            var imageOrder = data.order;
            loadImage(imageUrl);
            loadInfo(imageUrl, imageOrder);
          })
          .catch((error) => console.error("Error:", error));
      }

      // 이미지를 로드하고 화면에 표시하는 함수
      function loadImage(imageUrl) {
        var imageDisplayDiv = document.getElementById("image-display");
        imageDisplayDiv.innerHTML = "";

        var image = new Image();
        image.src = imageUrl;
        image.style.width = "100%";
        image.style.height = "100%";

        imageDisplayDiv.appendChild(image);
      }

      function loadInfo(url, order) {
        document.getElementById("current-image-url").innerText =
          "그림 URL: " + url;
        document.getElementById("current-image-level").innerText =
          "그림 순서: " + order;
      }

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + "=")) {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function changeLevel(change) {
        fetch("http://127.0.0.1:8000/picture-load/adjust-level/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify({ action: change }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.error) {
              alert("Error: " + data.error);
            } else {
              alert("새로운 레벨: " + data.new_level);
              document.getElementById("current-level").innerText =
                "당신의 난이도: " + data.new_level;
              loadImage(data.url);
              loadInfo(data.url, data.first_picture_order); // 변경된 레벨에 맞는 이미지 정보를 로드
            }
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </head>
  <body>
    <h1>사용자 난이도 정보</h1>
    <p id="current-level">당신의 난이도: {{ level }}</p>
    <p id="current-image-url">그림 URL: {{ url }}</p>
    <p id="current-image-level">그림 순서: {{ order }}</p>

    <button onclick="fetchOrderImage()">다음 그림 보기</button>
    <button onclick="fetchRandomImage()">
      무작위 그림 보기(난이도는 동일)
    </button>
    <div id="level-buttons">
      <button onclick="changeLevel(-1)">레벨 내리기</button>
      <button onclick="changeLevel(1)">레벨 올리기</button>
    </div>

    <div id="image-display" style="width: 600px; height: 600px">
      <!-- 이미지를 띄울 공간 -->
    </div>
  </body>
</html>
