<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>그림 인지 훈련</title>
    {% load static %}
    <link rel="icon" href="{% static 'Main_source/Starting_icon.PNG' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="{% static 'index.js' %}" type="module"></script>
    <script src="{% static 'popup.js' %}" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
    <!-- 네비게이션 바 + 프로그레스 바 -->
    <div class="navbar-progress-container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="index.html">
                    <img src="{% static 'Main_source/Starting_icon.PNG' %}" width="30" height="50">
                </a>
                <a role="button" id="burger" onclick="burgerOn()" class="navbar-burger" aria-label="menu"
                   aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="nav-links" class="navbar-menu is-centered">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a id="helpButton" class="Help button"><strong>도움말</strong></a>
                            <a id="goOutButton" class="GoOut button"><strong>나가기</strong></a>
                            <a class="Mode button"><strong>개발자모드</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <progress max="100" value="100"></progress>
    </div>

    <!-- 메인 화면 -->
    <div class="columns">
        <div class="column is-half image-container">
            <img src="{% static 'Main_source/park1-base-picture.png'%}" alt="Base Image">
        </div>
        <div class="column is-half right-container">
            <div class="textboard">
                <p>그림을<br>설명해주세요!</p>
            </div>
            <div class="speak-icon-container">
                <img src="{% static 'Main_source/speaking_icon.png'%}" alt="speak icon" class="speak-icon">
            </div>
            <div class="voice-recording">
                <button id="startBtn">녹음 시작</button>
                <button id="stopBtn">녹음 중지</button>
                <audio id="audioPlayback" controls></audio>
            </div>
            <div class="generated-image-container" id="generatedImageContainer">
                <img id="generatedImage" alt="Generated Image"/>
            </div>
        </div>
    </div>

    <!-- 로딩중 팝업 -->
    <div id="analysisPopup" class="analysis-popup">
        <div class="analysis-content">
            <p>결과를 분석하는 중입니다.<br>잠시만 기다려주세요!<br></p>
            <div class="show-accuracy" style="font-size: 35px;">
                <p><!--정확도 출력--></p>
            </div>
            <div class="show-correct" style="font-size: 35px;">
                <p><!--맞힌 단어 출력--></p>
            </div>
        </div>
    </div>

    <!-- 비교 후 다른 그림 -->
    <div id="messageContainer" class="message-container">
        <p>어떤가요? 비슷한 것 같나요?</p>
    </div>

    <div id="nextStepPopup" class="next-step-popup">
        <div class="next-step-content">
            <p>다른 그림으로 넘어가시겠어요?</p>
            <button id="yesButton" class="button is-light">네, 이번엔 다른 그림을 보고싶어요.</button>
            <button id="noButton" class="button is-light">아니오. 같은 그림으로 또 해볼래요.</button>
        </div>
    </div>

    <!-- 종료 3초전 팝업 -->
    <div id="exitPopup" class="modal">
        <div class="modal-content">
            <p class="modal-text">프로그램을 종료합니다.<br>다음에 또 봐요!</p>
        </div>
    </div>
</body>

    <script>
        document.getElementById("goOutButton").addEventListener('click', function() {
            exitPopup.style.display = "flex";
            showPopup("exitPopup");
        });

        let mediaRecorder;
        let audioChunks = [];

        document.getElementById("startBtn").addEventListener("click", function () {
            console.log("녹음하기");
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.start();

                    let audioChunks = [];

                    mediaRecorder.addEventListener("dataavailable", event => {
                        audioChunks.push(event.data);
                    });

                    setTimeout(() => {
                        mediaRecorder.stop();
                        stream.getTracks().forEach(track => track.stop());
                    }, 14000);

                    mediaRecorder.addEventListener("stop", () => {
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                        audioChunks = [];
                        sendAudioToNaverSTT(audioBlob);
                    });

                })
                .catch(error => {
                    console.error("Cannot access audio stream from microphone.", error);
                });
        });

        document.getElementById("stopBtn").addEventListener("click", function () {
            mediaRecorder.stop();
        });

        function sendAudioToNaverSTT(blob) {
            console.log("보내기");

            const clientId = ''; // 네이버 클라우드 플랫폼에서 발급받은 Client ID
            const clientSecret = ''; // 네이버 클라우드 플랫폼에서 발급받은 Client Secret
            const url = "https://naveropenapi.apigw.ntruss.com/recog/v1/stt?lang=Kor";
            console.log("세팅");

            const headers = new Headers({
                "Content-Type": "application/octet-stream",
                "X-NCP-APIGW-API-KEY-ID": clientId,
                "X-NCP-APIGW-API-KEY": clientSecret
            });

            let formData = new FormData();
            formData.append('audioFile', blob);

            fetch('http://127.0.0.1:8000/api/naver-stt/', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    console.log("전체 데이터:", data);
                    console.log("STT 결과:", data['text']);
                    console.log("정확도:", data['accuracy']);
                    console.log("맞힌 개수:", data['len_true_word']);
                    console.log("정답 단어:", data['true_word']);

                    document.querySelector('.show-accuracy').innerHTML = `좋아요!<br>맞힌 개수는 ${data['len_true_word']} 개,`;
                    document.querySelector('.show-correct').innerHTML = `맞힌 단어는 ${data['true_word']}입니다!<br>이제 맞힌 단어를 통해 그림을 만들어드릴게요.<br>기다리시는 동안 그림이 어떻게 그려질지 예상해보세요!`;

                    return fetch('http://127.0.0.1:8000/func/make-pic/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ text: data['p'] })
                    });
                })
                .then(response => response.json())
                .then(data => {
                    if (data['image_url']) {
                        showGeneratedImage(data['image_url']);
                        //hidePopup("analysisPopup"); //이미지 생성시 분석창 숨김.
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function showGeneratedImage(url) {
            hidePopup("analysisPopup");
            const generatedImageContainer = document.getElementById('generatedImageContainer');
            const generatedImage = document.getElementById('generatedImage');
            generatedImage.src = url;
            generatedImageContainer.classList.add('visible');
            
            setTimeout(() => {
                generatedImageContainer.classList.remove('visible');
                showPopup("nextStepPopup");
            }, 10000);
            
            
        }

        function showPopup(popupId) {
            const popup = document.getElementById(popupId);
            popup.style.display = "flex";
            setTimeout(() => { popup.style.opacity = 1; }, 10);
        }

        function hidePopup(popupId) {
            const popup = document.getElementById(popupId);
            popup.style.opacity = 0;
            setTimeout(() => { popup.style.display = "none"; }, 500);
        }
    </script>
</html>
