<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="utf-8"
    />
    <title>그림 인지 훈련</title>
    {% load static %}
    <link rel="icon" href="{% static 'Main_source/Starting_icon.PNG' %}" />
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="{% static 'index.js' %}" type="module"></script>
    <script src="{% static 'popup.js' %}" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>

  <body>
    <!-- 오디오 파일 모음 -->
    <div id="audio-container" style="display: none">
      <audio
        id="help-audio"
        src="{% static 'audio_ui/help.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="help1-audio"
        src="{% static 'audio_ui/help1-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="help2-audio"
        src="{% static 'audio_ui/help2-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="help3-audio"
        src="{% static 'audio_ui/help3-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="help4-audio"
        src="{% static 'audio_ui/help4-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="bye-audio"
        src="{% static 'audio_ui/bye-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="generate-audio"
        src="{% static 'audio_ui/generate-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio
        id="compare-audio"
        src="{% static 'audio_ui/compare-ment.mp3' %}"
        type="audio/mp3"
      ></audio>
      <audio autoplay>
        <source
          src="{% static 'audio_ui/letstart-ment.mp3' %}"
          type="audio/mp3"
        />
      </audio>
    </div>

    <!-- 네비게이션 바 + 프로그레스 바 -->
    <div class="navbar-container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img
              src="{% static 'Main_source/Starting_icon.PNG' %}"
              width="30"
              height="50"
            />
          </a>
          <a
            role="button"
            id="burger"
            onclick="burgerOn()"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="nav-links" class="navbar-menu is-centered">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a
                  id="helpButton"
                  class="Help button"
                  onclick="playAudio('help-audio')"
                  ><strong>도움말</strong></a
                >
                <a
                  id="goOutButton"
                  class="GoOut button"
                  onclick="playAudio('bye-audio')"
                  ><strong>나가기</strong></a
                >
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>  
    <progress max="100" value="100"></progress>

    <!-- 메인 화면 -->
    <div class="columns">
      <div id="base-image" class="column is-half image-container"></div>
      <div class="column is-half right-container">
        <div class="textboard">
          <p>그림을<br />설명해주세요!</p>
        </div>
        <div class="speak-icon-container">
          <img
            src="{% static 'Main_source/speaking_icon.png'%}"
            alt="speak icon"
            class="speak-icon"
          />
        </div>
        <div class="voice-recording" style="display: none">
          <button id="startBtn">녹음 시작</button>
          <button id="stopBtn">녹음 중지</button>
          <audio id="audioPlayback" controls></audio>
        </div>
        <div class="generated-image-container" id="generatedImageContainer">
          <img id="generatedImage" alt="Generated Image" />
        </div>
      </div>
    </div>

    <div id="letStartPopup" class="let-start-popup">
      <!--index로 넘어오면 가장 먼저 뜨는 팝업창-->
      <p id="startMent" class="start-ment">
        반갑습니다! 이제 그림 인지 훈련을 시작합니다.
        <br />화면이 바뀌면, 바로 문제 풀이 시간이 시작됩니다. <br />제한시간
        동안 그림을 말로 설명해주세요!
      </p>
    </div>

    <!-- 로딩중 팝업 -->
    <div id="analysisPopup" class="analysis-popup">
      <div class="analysis-content">
        <p>결과를 분석하는 중입니다.<br />잠시만 기다려주세요!<br /></p>
      </div>
    </div>

    <!--칭찬 격려 멘트-->
    <div id="complimentPopup" class="compliment-popup">
      <div id="compliMent" class="compli-ment" style="font-size: 40px">
        <p></p>
      </div>
      <div id="helpMent" class="help-ment" style="font-size: 30px">
        <p></p>
      </div>
    </div>

    <!--로딩중 팝업 - 정확도 및 맞힌 단어 출력-->
    <div id="scorePopup" class="score-popup">
      <div class="show-accuracy" style="font-size: 35px">
        <p><!--정확도 출력--></p>
      </div>
      <div class="show-correct" style="font-size: 35px">
        <p><!--맞힌 단어 출력--></p>
        <p>
          말씀해주신 내용을 바탕으로 그림을 만들고 있어요!<br />어떤 그림이 나올지
          상상해볼까요?
        </p>
      </div>
    </div>

    <!-- 비교 후 다른 그림 -->
    <div id="messageContainer" class="message-container">
      <p>어떤가요? 비슷한 것 같나요?</p>
    </div>

    <div id="nextStepPopup" class="next-step-popup">
      <div class="next-step-content">
        <p>다른 그림으로 넘어가시겠어요?</p>
        <button id="yesButton" class="button is-light">
          네. 이번엔 다른 그림을 보고싶어요.
        </button>
        <button id="noButton" class="button is-light">
          아니오. 같은 그림으로 또 해볼래요.
        </button>
      </div>
    </div>

    <!--도움말 버튼-->
    <div id="helpPopup" class="help-popup">
      <p>
        어떤 궁금증이 있으신가요?
      </p>
      <button
        id="one"
        class="help button is-light"
        onclick="playAudio('help1-audio')"
      >
        화면을 넘기고 싶어요.
      </button>
      <button
        id="two"
        class="help button is-light"
        onclick="playAudio('help2-audio')"
      >
        그림 문제는 어떻게 푸나요?
      </button>
      <button
        id="three"
        class="help button is-light"
        onclick="playAudio('help3-audio')"
      >
        문제가 너무 어려워요.
      </button>
      <button
        id="four"
        class="help button is-light"
        onclick="playAudio('help4-audio')"
      >
        더 새로운 그림을 보고 싶어요.
      </button>
      <button id="back" class="help button is-warning">
        궁금증이 없어요. 이전으로 돌아갈래요.
      </button>
    </div>

    <!--도움말 닫기 버튼 팝업-->
    <div id="backPopup" class="back-popup">
      <p>
        '그림으로 말하는 인지훈련' 활동을 통해서 인지 훈련을 통해 치매를
        예방하는데에 도움이 되기를 바랍니다.<br />이 내용은 도움말 버튼을
        클릭하시면 언제든지 확인하실 수 있답니다!
      </p>
    </div>

    <!--도움말 one-->
    <div id="onePopup" class="one-popup">
      <p>
        대부분의 화면은 건드리지 않아도 시간이 지나면 자동으로 넘어갑니다!
        <br />혹은, 페이지에 아래와 같이 '흰색 버튼'이 있다면, <br />버튼을 눌러
        화면을 넘길 수 있답니다!
      </p>
      <button id="bbackOne" class="button is-warning" onclick="stopAllAudio()">
        돌아가기
      </button>
    </div>
    <!--도움말 two-->
    <div id="twoPopup" class="two-popup">
      <p>
        그림 문제를 풀기 위해서 화면에 제시된 그림을 잘 보고, <br />초록색 줄이
        줄어들기 전에 그림에 대한 설명을 해주시면 됩니다! <br />그럼 프로그램이
        '말소리'를 인식해, 표현해주신 그림을 그려드릴게요!
      </p>
      <button id="bbackTwo" class="button is-warning" onclick="stopAllAudio()">
        돌아가기
      </button>
    </div>

    <!--도움말 three-->
    <div id="threePopup" class="three-popup">
      <p>
        '그림으로 말하는 인지 훈련'은 가장 쉬운 그림부터 제공드리고 있어요.
        <br />문제가 어려워져서 맞추지 못하신 경우, 더 쉬운 그림들을 보여드리고
        있어요. <br />그럼에도 불구하고 그림이 너무 어렵게 느껴진다면,<br />다른
        훈련이나 치료가 필요할 수 있어요. <br />치료와 관련해 궁금하신 점이
        있다면 근처 병원에 상담을 요청해보세요.
      </p>
      <button id="bbackThree" class="button is-warning" onclick="stopAllAudio()">
        돌아가기
      </button>
    </div>

    <!--도움말 four-->
    <div id="fourPopup" class="four-popup">
      <p>
        그림 문제를 잘 풀 수록 더 새로운 그림을 볼 수 있어요! <br />그림을
        자세히 살펴보고, 잘 맞춘다면<br />자연스럽게 또다른 그림을 볼 수
        있답니다.
      </p>
      <button id="bbackFour" class="button is-warning" onclick="stopAllAudio()">
        돌아가기
      </button>
    </div>

    <!-- 종료 3초전 팝업 -->
    <!--이미지 팝업-->
    <div id="exitPopup" class="exit-popup">
      <div class="exit-content">
        <p class="exit-text">오늘의 훈련 결과입니다.<br />다음에 또 봐요!</p>
        <div id="imageHistoryContainer" class="image-history-container">
          <!--생성 이미지 5개-->
          <div id="imageHistory1" class="image-history-1"></div>
          <div id="imageHistory2" class="image-history-2"></div>
          <div id="imageHistory3" class="image-history-3"></div>
          <div id="imageHistory4" class="image-history-4"></div>
          <div id="imageHistory5" class="image-history-5"></div>
        </div>
      </div>
    </div>
  </body>

  <script>
    let progressBar = document.querySelector("progress");
    let progressInterval; //progress interval 전역변수 선언
    let duration = 14000; // 초기 프로그레스바 및 녹음 시간 설정
    var globalAccuracy = 0; // 정확도 전역 변수
    let mediaRecorder;  // 전역변수, 컨트롤


    document.addEventListener("DOMContentLoaded", function () {
      showPopup("letStartPopup"); //시작하자마자 띄워주기

      setTimeout(() => {
        hidePopup("letStartPopup");
        progress_and_record();
      }, 7000);
    });

    // 프로그레스 바가 진행되면서 자동으로 녹음을 시작하는 함수
    function progress_and_record() {
      //hidepopup 실행 직후 아래의 모든 동작 시작

      progressBar.value = 100; // 프로그레스 바를 최대치로 설정
      let decrementAmount = progressBar.max / (duration / 100);

      let progressInterval = setInterval(() => {
        progressBar.value -= decrementAmount;
        if (progressBar.value <= 0) {
          clearInterval(progressInterval);
          if (mediaRecorder && mediaRecorder.state === "recording") {
            mediaRecorder.stop(); // 녹음 중지
          }
        }
      }, 100);

      startRecording(); // 녹음 시작 함수 호출
      //즉, 이 함수에서는 프로그레스바가 줄어들기 시작하는 것과 동시에 녹음 시작 함수를 호출함.
    }

    // 녹음을 시작하는 함수
    function startRecording() {
      navigator.mediaDevices
        .getUserMedia({ audio: true })
        .then((stream) => {
          mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();
          let audioChunks = [];

          mediaRecorder.ondataavailable = (event) => {
            audioChunks.push(event.data);
          };

          mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: "audio/wav" });
                sendAudioToNaverSTT(audioBlob);
          };

          setTimeout(() => {
            mediaRecorder.stop();
            stream.getTracks().forEach((track) => track.stop());
            showPopup("analysisPopup");
          }, duration);
          //녹음 중지는 프로그레스 바 총 시간과 동일해야 함.

        })
        .catch((error) => console.error("Microphone access error.", error));
    }

    // "다른 그림을 보시겠어요?" 팝업의 '예', '아니오' 버튼 이벤트 처리
    document.getElementById("yesButton").addEventListener("click", function () {
      hidePopup("nextStepPopup");
      generatedImageContainer.classList.remove("visible");
      fetchImage(true);
      // 다른 이미지 가져와서 녹음 및 프로그레스 바 다시 시작
    });

    document.getElementById("noButton").addEventListener("click", function () {
      hidePopup("nextStepPopup");
      generatedImageContainer.classList.remove("visible");
      fetchImage(false);
      // 같은 이미지로 녹음 및 프로그레스 바 다시 시작
    });

    // 이미지 를 로드하고 화면에 표시, level 가져오는 함수
    window.onload = function () {
      const url = "{{ url }}";
      const level="{{ level }}"
      console.log(url);
      console.log(level);
      if (url) {
        if(level){
        loadImage(url,level);
        }
      }
    };

    function loadImage(imageUrl,level) {
      const imageDisplayDiv = document.getElementById("base-image");
      imageDisplayDiv.innerHTML = ""; // 기존 이미지 제거
      const image = new Image();
      image.src = imageUrl;
      imageDisplayDiv.appendChild(image); // 새로운 이미지 추가

      if (parseInt(level) >= 3) { //초기 레벨 파악 후 duration 설정
        duration = 8000; //3레벨 이후 8초
      } else {
        duration = 14000; //아니면 14초
      }
    }

    //다른 그림으로 넘어가시겠어요?
    function fetchImage(fetchNew) {
      hidePopup("nextStepPopup");
      generatedImageContainer.classList.remove("visible");
      
      //정확도 전역변수 가져오고, fetchnew 변수-> 새 그림 가져올지에 대한 여부 변수 가져옴.
      const data = { accuracy: globalAccuracy, fetchNew: fetchNew };

      // 레벨이 변경되었을 경우, 변경된 레벨에 해당하는 그림을 직접 가져옴
      fetch("../fetch-picture/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": getCookie("csrftoken"),
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            alert("Error: " + data.error);
          } else {
            if (fetchNew) {
              if (data.url) {
                console.log(data.level);
                loadImage(data.url,data.level); // 새로운 레벨에 맞는 이미지 로드
              }
            }
            duration = data.level >= 3 ? 8000 : 14000;
            //4단계(3) 이상부터는 duration을 8초로 줄인다.
            progress_and_record(); //duration 값 반영된 함수
          }
        })
        .catch((error) => console.error("Error:", error));
    }

    // 쿠키
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    //일시정지 함수
    function pauseAllActivities() {
      //shouldProceed=False;
      if (mediaRecorder && mediaRecorder.state === "recording") {
        mediaRecorder.stop(); // Stop recording only if it is active
      }
      progressBar.value=0; //프로그레스바 0으로 만들기
      clearInterval(progressInterval); 
      //동작 관련 팝업 모두 지우기
      hideAllPopups(); 
    } 

    function muteAudio(audioId) { //오디오 음소거 함수
          const audio = document.getElementById(audioId);
          audio.muted = true; 
    }

    function unmuteAudio(audioId) { //오디오 음소거 해제 함수
          const audio = document.getElementById(audioId);
          audio.muted = false;
    }

    function hideAllPopups() { //(도움말, 나가기 제외) 모든 팝업을 지우는 함수
      ["analysisPopup", "nextStepPopup", "complimentPopup", "scorePopup"].forEach(popupId => {
          const popup = document.getElementById(popupId);
          if (popup.style.display === "flex") {
              hidePopup(popupId);
          }
      });
    }

    //나가기 버튼 동작
    document.getElementById("goOutButton").addEventListener("click", function () {
      muteAudio("compare-audio");
      muteAudio("generate-audio");
      pauseAllActivities();
      showPopup("exitPopup");
    });



    //도움말 버튼 전체 동작 관리
    document.getElementById("helpButton").addEventListener("click", function () {
      pauseAllActivities();

      muteAudio("compare-audio");
      muteAudio("generate-audio");
      showPopup("helpPopup");
    });

    document.getElementById("one").addEventListener("click", function () {
      showPopup("onePopup");
    });

    document.getElementById("two").addEventListener("click", function () {
      showPopup("twoPopup");
    });

    document.getElementById("three").addEventListener("click", function () {
      showPopup("threePopup");
    });

    document.getElementById("four").addEventListener("click", function () {
      showPopup("fourPopup");
    });

    document.getElementById("back").addEventListener("click", function () {
      hidePopup("helpPopup");
      unmuteAudio("compare-audio");
      unmuteAudio("generate-audio");
      window.location.reload();
    });

    document.getElementById("bbackOne").addEventListener("click", function () {
      hidePopup("onePopup");
    });

    document.getElementById("bbackTwo").addEventListener("click", function () {
      hidePopup("twoPopup");
    });

    document.getElementById("bbackThree").addEventListener("click", function () {
      hidePopup("threePopup");
    });

    document.getElementById("bbackFour").addEventListener("click", function () {
      hidePopup("fourPopup");
    });
    //도움말 버튼 완료  


    function sendAudioToNaverSTT(blob) {
      //핵심 동작
      console.log("보내기");

      const clientId = ""; // 네이버 클라우드 플랫폼에서 발급받은 Client ID
      const clientSecret = ""; // 네이버 클라우드 플랫폼에서 발급받은 Client Secret
      const url = "https://naveropenapi.apigw.ntruss.com/recog/v1/stt?lang=Kor";
      console.log("세팅");

      const headers = new Headers({
        "Content-Type": "application/octet-stream",
        "X-NCP-APIGW-API-KEY-ID": clientId,
        "X-NCP-APIGW-API-KEY": clientSecret,
      });

      let formData = new FormData();
      formData.append("audioFile", blob);

      fetch("../../api/naver-stt/", {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("전체 데이터:", data);
          console.log("STT 결과:", data["text"]);
          console.log("정확도:", data["accuracy"]);
          console.log("맞힌 개수:", data["len_true_word"]);
          console.log("정답 단어:", data["true_word"]);

          globalAccuracy = data["accuracy"];

          hidePopup("analysisPopup"); //분석중 팝업 사라짐

          showComplimentBox(data); //정확도계산을 바탕으로 한 칭찬 멘트 팝업
          setTimeout(() => {
            hidePopup("complimentPopup"); //5초뒤 사라짐
            showPopup("scorePopup"); //5초 뒤 점수 팝업 생성됨
            playAudio("generate-audio");
          }, 7000);

          //점수 팝업 내용
          document.querySelector(
            ".show-accuracy"
          ).innerHTML = `맞힌 단어 개수는 ${data["len_true_word"]} 개 입니다!`;

          //document.querySelector('.show-correct').innerHTML = `맞힌 단어는 ${data['true_word']}입니다!`;
          //document.getElementById('.show-correct').innerHTML = `맞힌 단어는 ${data['true_word']}입니다!`;

          return fetch("../../func/make-pic/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ text: data["p"] }),
          });
        })
        .then((response) => response.json())
        .then((data) => {
          if (data["image_url"]) {
            //이미지 url 생성되면 generatedimage popup 작동.
            showGeneratedImage(data["image_url"]);
            data["image_url"] = null; // null로 초기화
          }
        })
        .catch((error) => console.error("Error:", error));
    }

    function showComplimentBox(data) {
      //칭찬멘트 함수
      const compliMent = document.getElementById("compliMent");
      const helpMent = document.getElementById("helpMent");

      const complimentsHigh = [
        "오~ 백점 만점에 백점!",
        "와우~! 짝짝짝! 너무너무 잘했어요!",
        "이럴수가, 정확해요~!",
        "대단해요! 정말 잘했어요!",
        "최고에요! 계속 이렇게 해볼까요?",
      ];

      const complimentsMediumHigh = [
        "너무 잘했어요!",
        "와우~ 정말 멋진걸요?",
        "우와, 정말 굉장해요!",
        "멋지게 해내고 있어요!",
      ];

      const complimentsMedium = [
        "좋아요!",
        "지금도 충분히 멋져요!",
        "지금도 잘 하고 있어요. 조금만 더 힘내요!",
        "좋은데요? 우리 계속 노력해봐요!",
      ];

      const complimentsLow = [
        "이제 그림에서 어떤 단어를 맞췄는지 확인해볼까요?",
        "도전 정신이 멋져요!",
        "연습하면 더 좋아질 거에요!",
        "한번 더 해보면 더 잘할 수 있어요!",
      ];

      showPopup("complimentPopup");
      if (data["accuracy"] >= 0.8) {
        const randomIndex = Math.floor(Math.random() * complimentsHigh.length);
        compliMent.innerHTML = complimentsHigh[randomIndex];
      } else if (data["accuracy"] >= 0.5) {
        const randomIndex = Math.floor(
          Math.random() * complimentsMediumHigh.length
        );
        compliMent.innerHTML = complimentsMediumHigh[randomIndex];
      } else if (data["accuracy"] >= 0.2) {
        const randomIndex = Math.floor(
          Math.random() * complimentsMedium.length
        );
        compliMent.innerHTML = complimentsMedium[randomIndex];
      } else {
        const randomIndex = Math.floor(Math.random() * complimentsLow.length);
        compliMent.innerHTML = complimentsLow[randomIndex];
        helpMent.innerHTML = `혹시 문제가 생기거나 도움이 필요하다면, '도움말' 버튼을 통해 해결할 수 있어요!`;
      }
    }

    function showGeneratedImage(url) {
      //이미지생성 시 팝업 띄워주는 함수, 다음 단계로 넘어가시겠어요 팝업도 같이 구현.
      hidePopup("scorePopup");
      const generatedImageContainer = document.getElementById(
        "generatedImageContainer"
      );
      const generatedImage = document.getElementById("generatedImage");
      generatedImage.src = url;
      generatedImageContainer.classList.add("visible");

      playAudio("compare-audio");

      setTimeout(() => {
        showPopup("nextStepPopup");
      }, 10000);
    }

    function showPopup(popupId) {
      if (popupId == "exitPopup") {
        // 종료 팝업인 경우 서버에서 최근 기록을 불러옴
        fetch("/fetch_user_history/")
          .then((response) => response.json())
          .then((data) => {
            console.log("urls:", data.urls);
            const urls = data.urls;

            // div id 리스트
            const divIds = [
              "imageHistory1",
              "imageHistory2",
              "imageHistory3",
              "imageHistory4",
              "imageHistory5",
            ];
            divIds.forEach((divId, index) => {
              const div = document.getElementById(divId);
              if (div) {
                div.innerHTML = ""; // 기존 내용을 지웁니다.
                if (index < urls.length) {
                  const img = document.createElement("img");
                  img.src = urls[index];
                  img.alt = `Image ${index + 1}`;
                  div.appendChild(img);
                }
              }
            });
          })
          .catch((error) => {
            console.error("Error fetching user history:", error);
          });
      }

      const popup = document.getElementById(popupId);
      popup.style.display = "flex";
      setTimeout(() => {
        popup.style.opacity = 1;
      }, 10);
    }

    function hidePopup(popupId) {
      const popup = document.getElementById(popupId);
      popup.style.opacity = 0;
      setTimeout(() => {
        popup.style.display = "none";
      }, 500);
    }

    //tts 함수
    function playAudio(audioId) {
      stopAllAudio(); // 다른 오디오 중지 후 새 오디오 재생
      var audio = document.getElementById(audioId);
      audio.play();
    }

    // 모든 오디오 중지 함수
    function stopAllAudio() {
      var audios = document.querySelectorAll("audio");
      audios.forEach(function (audio) {
        audio.pause();
        audio.currentTime = 0;
      });
    }
  </script>
</html>
