<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      ,
      charset="utf-8"
    />
    <title>그림 인지 훈련</title>
    {% load static %}
    <link rel="icon" href="{% static 'Main_source/Starting_icon.PNG' %}" />
    <link
      rel="stylesheet"
      href="{% static 'StartingPage.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="{% static 'StartingPage.js' %}" type="module"></script>
    <script src="{% static 'popup.js' %}" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>

  <body class="hero is-fullheight-with-navbar has-background-green">
    <!-- 백엔드url로 회원가입 정보 전달-->
    {% comment %}
    <form
      id="userDataForm"
      action="../picture-load/picture-training/"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
      <input type="hidden" id="username" name="name" value="" />
      <input type="submit" value="Submit" />
    </form>
    {% endcomment %}
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half has-text-centered">
            <figure class="image is-inline-block">
              <img
                src="{% static 'Main_source/Starting_icon.PNG' %}"
                alt="Starting_icon"
              />
            </figure>
          </div>
          <div class="column is-half">
            <p class="title is-1 has-text-white">
              그림으로 말하는<br />인지 훈련
            </p>
          </div>
        </div>
      </div>
    </div>

    <audio autoplay>
      <source src="{% static 'audio_ui/test.mp3' %}" type="audio/mp3" />
    </audio>

    <!-- Greeting Popup -->
    <div id="GreetingPopup" class="greeting-popup" style="display: none">
      <div class="container">
        <figure class="image smaller-icon">
          <!-- 새 클래스 추가 -->
          <img
            src="{% static 'Main_source/Starting_icon.PNG' %}"
            alt="Starting_icon"
          />
        </figure>
        <p id="random-greeting" class="content is-1 has-text-white"></p>
        <p id="greeting" class="content is-1 has-text-white">
          그림 인지 훈련 프로그램에 어서오세요!<br />혹시 처음오셨나요?
        </p>
        <div class="buttons-box">
          <!-- <button
            id="HiddenPlayButton"
            class="button is-light"
            style="display: none"
            onclick="playAudio('test-audio')"
          >
            숨겨진 버튼
          </button> -->
          <button id="FirstTimeButton" class="button is-light">
            네, 처음이에요.
          </button>
          <audio
            id="test-audio"
            src="{% static 'audio_ui/test.mp3' %}"
            type="audio/mp3 "
          ></audio>
          <button
            id="NotFirstTimeButton"
            class="button is-light"
            onclick="playAudio('test-audio')"
          >
            아니요, 전에 온 적 있어요.
          </button>
        </div>
      </div>
    </div>

    <div id="logPopup" class="log-popup" style="display: none">
      <p id="login" class="login">이제, 그림인지 훈련을 시작합니다!</p>
    </div>

    <form
      id="hiddenForm"
      action="login_capture/"
      method="post"
      style="display: none"
    ></form>
  </body>

  <script>
    {% comment %} function submitUserData() {
        var folderCounter = '{{ request.session.User_name }}';  // folder_counter 변수 들고오기
        document.getElementById('username').value = "User_" + folderCounter;
        document.getElementById('userDataForm').submit();  // html에서의 form을 submit
    } {% endcomment %}
    document.addEventListener("DOMContentLoaded", function () {
      // '처음이에요' 버튼에 이벤트 리스너 추가
      document.getElementById('FirstTimeButton').addEventListener('click', function() {
        window.location.href = document.getElementById('redirectLink').href;
      });

      //'전에 온 적 있어요' -> 바로 인사 -> 그 후
      document.getElementById('NotFirstTimeButton').addEventListener('click', function() {
          startCaptureAndUpload();
          document.getElementById('hiddenForm').submit();
      });

      setTimeout(function() {
          console.log("Showing GreetingPopup and SoundPermissionPopup");
          showPopup("GreetingPopup");
      }, 3000);

      var greetings = ["와우~ 반갑습니다!", "우와, 안녕하세요!", "짝짝짝, 환영합니다!", "기다리고 있었어요!"];
      var randomGreeting = greetings[Math.floor(Math.random() * greetings.length)];
      document.getElementById('random-greeting').textContent = randomGreeting;
    });

    function startCaptureAndUpload() {
      var canvas = document.createElement('canvas');
      canvas.width = 640;
      canvas.height = 480;
      var context = canvas.getContext('2d');
      var video = document.getElementById('cameraview');
      var formData = new FormData();
      var captureCount = 0;

      var captureInterval = setInterval(() => {
        if (captureCount >= 1) {
          clearInterval(captureInterval);
          uploadImages(formData);
          return;
        }

        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        canvas.toBlob(blob => {
          formData.append('photo', blob, `capture_${captureCount}.jpg`);
          captureCount++;
        }, 'image/jpeg');
      }, 300);
    }

    function uploadImages(formData) {
      var form = document.getElementById('uploadForm');
      for (var key of formData.keys()) {
          var value = formData.get(key);
          var input = document.createElement("input");
          input.type = "hidden";
          input.name = key;
          input.value = value;
          form.appendChild(input);
      }

      fetch('../login_order/', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(result => {
          console.log('Success:', result);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function playAudio(audioId) {
      return new Promise((resolve) => {
        var audio = document.getElementById(audioId);
        audio.play();
        audio.onended = resolve;
      });
    }

    function showPopup(popupId) {
      const popup = document.getElementById(popupId);
      popup.style.display = "flex";
      setTimeout(() => { popup.style.opacity = 1; }, 10);
    }
  </script>
  <form
    id="uploadForm"
    action="../image/"
    method="post"
    enctype="multipart/form-data"
    style="display: none"
  >
    <!-- 파일 입력 필드는 JavaScript를 통해 처리됩니다. -->
  </form>
  <a id="redirectLink" href="{% url 'Camera' %}" style="display: none">이동</a>
</html>
