<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      ,
      charset="utf-8"
    />
    <title>그림 인지 훈련</title>
    {% load static %}
    <link rel="icon" href="{% static 'Main_source/Starting_icon.PNG' %}" />
    <link
      rel="stylesheet"
      href="{% static 'StartingPage.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="{% static 'StartingPage.js' %}" type="module"></script>
    <script src="{% static 'popup.js' %}" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>

  <body class="hero is-fullheight-with-navbar has-background-green">
    <!-- 백엔드url로 회원가입 정보 전달-->
    {% comment %}
    <form
      id="userDataForm"
      action="../picture-load/picture-training/"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
      <input type="hidden" id="username" name="name" value="" />
      <input type="submit" value="Submit" />
    </form>
    {% endcomment %}
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half has-text-centered">
            <figure class="image is-inline-block">
              <img
                src="{% static 'Main_source/Starting_icon.PNG' %}"
                alt="Starting_icon"
              />
            </figure>
          </div>
          <div class="column is-half">
            <p class="title is-1 has-text-white">
              그림으로 말하는<br />인지 훈련
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--오디오 파일 모음-->
    <div style="display: none">
      <audio id="first-audio" autoplay>
        <source src="{% static 'audio_ui/first-ment.mp3' %}" type="audio/mp3" />
      </audio>
      <audio id="login-audio">
        <source src="{% static 'audio_ui/login-ment.mp3' %}" type="audio/mp3" />
      </audio>
    </div>

    <!-- Greeting Popup -->
    <div id="GreetingPopup" class="greeting-popup" style="display: none">
      <div class="container">
        <figure class="image smaller-icon">
          <!-- 새 클래스 추가 -->
          <img
            src="{% static 'Main_source/Starting_icon.PNG' %}"
            alt="Starting_icon"
          />
        </figure>
        <p id="random-greeting" class="content is-1 has-text-white"></p>
        <p id="greeting" class="content is-1 has-text-white">
          그림 인지 훈련 프로그램에 어서오세요!<br />혹시 처음오셨나요?
        </p>
        <div class="buttons-box">
          <!-- <button
            id="HiddenPlayButton"
            class="button is-light"
            style="display: none"
            onclick="playAudio('test-audio')"
          >
            숨겨진 버튼
          </button> -->
          <button id="FirstTimeButton" class="button is-light">
            네, 처음이에요.
          </button>
          <button
            id="NotFirstTimeButton"
            class="button is-light"
            onclick="playAudio('login-audio')"
          >
            아니요, 전에 온 적 있어요.
          </button>
        </div>
        <div class="guest-box">
          <button id="GuestLogin" class="button is-warning">
            그냥 해볼래요!
          </button>
        </div>
      </div>
    </div>

    <div id="logPopup" class="log-popup" style="display: none">
      <p id="login" class="login">이제, 그림인지 훈련을 시작합니다!</p>
    </div>

    <form
      id="loginForm"
      action="picture-load/picture-training/"
      method="post"
      style="display: none"
    ></form>
  </body>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      // '처음이에요' 버튼에 이벤트 리스너 추가
      document.getElementById('FirstTimeButton').addEventListener('click', function() {
        window.location.href = document.getElementById('redirectLink').href;
      });

      //'전에 온 적 있어요' -> 바로 인사 -> 그 후
      document.getElementById('NotFirstTimeButton').addEventListener('click', async function() {
          await startCaptureAndUpload();
          document.getElementById('loginForm').submit();
      });
      
      //'전에 온 적 있어요' -> 바로 인사 -> 그 후
      document.getElementById('GuestLogin').addEventListener('click', function() {
          document.getElementById('loginForm').submit();
      });

      setTimeout(function() {
          console.log("Showing GreetingPopup and SoundPermissionPopup");
          showPopup("GreetingPopup");
      }, 3000);

      var greetings = ["와우~ 반갑습니다!", "우와, 안녕하세요!", "짝짝짝, 환영합니다!", "기다리고 있었어요!"];
      var randomGreeting = greetings[Math.floor(Math.random() * greetings.length)];
      document.getElementById('random-greeting').textContent = randomGreeting;
    });

    var streamVideo;
    function close() {
      if (streamVideo) {
        var tracks = streamVideo.getTracks();
        tracks.forEach((track) => track.stop());
        streamVideo = null;
      }
    }

    // 비동기적 함수로 생성
    async function startCaptureAndUpload() {
        close(); // 기존 스트림 제거

      // 카메라 실행
      streamVideo = await navigator.mediaDevices.getUserMedia({ video: true });
      var cameraView = document.getElementById('cameraview');
      cameraView.srcObject = streamVideo;
      await new Promise(resolve => cameraView.onloadedmetadata = resolve); // 비디오 메타데이터 로드 대기

      // 비디오가 실제로 재생될 때까지 대기
      await new Promise(resolve => {
          cameraView.onplaying = resolve;
          cameraView.play();
      });

      var canvas = document.createElement('canvas');
      canvas.width = 640;
      canvas.height = 480;
      var context = canvas.getContext('2d');
      var video = document.getElementById('cameraview');
      var formData = new FormData();

      // Capture image from video
      context.drawImage(video, 0, 0, canvas.width, canvas.height);
      await new Promise((resolve, reject) => {
          canvas.toBlob(blob => {
              if (blob) {
                  formData.append('photo', blob, 'capture.jpg');
                  resolve();
              } else {
                  reject(new Error('Canvas to Blob failed'));
              }
          }, 'image/jpeg');
      });

      // Upload images
      await uploadImages(formData);
    }

    async function uploadImages(formData) {
      for (var key of formData.keys()) {
          var value = formData.get(key);
          var input = document.createElement("input");
          input.type = "hidden";
          input.name = key;
          input.value = value;
      }

        try {
          const response = await fetch('../login_order/', {
            method: 'POST',
            body: formData
          });
          const result = await response.json();
          console.log('Success:', result);
        } catch (error) {
          console.error('Error:', error);
        }
    }

    //tts 함수
    function playAudio(audioId) {
      return new Promise((resolve) => {
        var audio = document.getElementById(audioId);
        audio.play();
        audio.onended = resolve;
      });
    }

    function stopAutoplayAudio() {
      const autoplayAudio = document.getElementById('first-audio');
      if (autoplayAudio) {
        autoplayAudio.pause();
        autoplayAudio.currentTime = 0;
      }
    }

    document.getElementById('FirstTimeButton').addEventListener('click', stopAutoplayAudio);
    document.getElementById('NotFirstTimeButton').addEventListener('click', stopAutoplayAudio);

    function showPopup(popupId) {
      const popup = document.getElementById(popupId);
      popup.style.display = "flex";
      setTimeout(() => { popup.style.opacity = 1; }, 10);
    }
  </script>
  <video id="cameraview" style="display: none"></video>

  <a id="redirectLink" href="{% url 'Camera' %}" style="display: none">이동</a>
</html>
