<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      ,
      charset="utf-8"
    />
    <title>그림 인지 훈련</title>
    {% load static %}
    <link rel="icon" href="{% static 'Main_source/Starting_icon.PNG' %}" />
    <link
      rel="stylesheet"
      href="{% static 'StartingPage.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="{% static 'StartingPage.js' %}" type="module"></script>
    <script src="{% static 'popup.js' %}" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>

  <body class="hero is-fullheight-with-navbar has-background-green">
    <!-- 백엔드url로 회원가입 정보 전달-->
    {% comment %}
    <form
      id="userDataForm"
      action="../picture-load/picture-training/"
      method="post"
      style="display: none"
    >
      {% csrf_token %}
      <input type="hidden" id="username" name="name" value="" />
      <input type="submit" value="Submit" />
    </form>
    {% endcomment %}
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half has-text-centered">
            <figure class="image is-inline-block">
              <img
                src="{% static 'Main_source/Starting_icon.PNG' %}"
                alt="Starting_icon"
              />
            </figure>
          </div>
          <div class="column is-half">
            <p class="title is-1 has-text-white">
              그림으로 말하는<br />인지 훈련
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Greeting Popup -->
    <div id="GreetingPopup" class="greeting-popup" style="display: none">
      <div class="container">
        <figure class="image smaller-icon">
          <!-- 새 클래스 추가 -->
          <img
            src="{% static 'Main_source/Starting_icon.PNG' %}"
            alt="Starting_icon"
          />
        </figure>
        <p id="random-greeting" class="content is-1 has-text-white"></p>
        <p id="greeting" class="content is-1 has-text-white">
          그림 인지 훈련 프로그램에 어서오세요!<br />혹시 처음오셨나요?
        </p>
        <div class="buttons-box">
          <button
            id="FirstTimeButton"
            class="button is-light"
            onclick="playAudio('test-audio')"
          >
            네, 처음이에요.
          </button>
          <button
            id="NotFirstTimeButton"
            class="button is-light"
            onclick="playAudio('test-audio')"
          >
            아니요, 전에 온 적 있어요.
          </button>
        </div>
      </div>
    </div>

    <div id="logPopup" class="log-popup" style="display: none">
      <p id="login" class="login">이제, 그림인지 훈련을 시작합니다!</p>
    </div>

    <form
      id="hiddenForm"
      action="login_capture/"
      method="post"
      style="display: none"
    ></form>
  </body>

  <script>
    {% comment %} function submitUserData() {
        var folderCounter = '{{ request.session.User_name }}';  // folder_counter 변수 들고오기
        document.getElementById('username').value = "User_" + folderCounter;
        document.getElementById('userDataForm').submit();  // html에서의 form을 submit
    } {% endcomment %}

     // DOM이 완전히 로드된 후 실행
    document.addEventListener("DOMContentLoaded", function () {
        // '처음이에요' 버튼에 이벤트 리스너 추가
        document.getElementById('FirstTimeButton').addEventListener('click', function() {
            window.location.href = document.getElementById('redirectLink').href
        });

        //'전에 온 적 있어요' -> 바로 인사 -> 그 후
        document.getElementById('NotFirstTimeButton').addEventListener('click', function() {
            startCaptureAndUpload()
            document.getElementById('hiddenForm').submit();
        });        
    });

    function playAudio(audioId) {
        var audio = document.getElementById(audioId);
        audio.play();
      }

          // 카메라로 사진을 10장 캡처하고 서버로 전송하는 함수
    function startCaptureAndUpload() {
      var canvas = document.createElement('canvas'); // 캔버스 요소 생성
      canvas.width = 640; // 캔버스 너비 설정
      canvas.height = 480; // 캔버스 높이 설정
      var context = canvas.getContext('2d'); // 2D 그리기 컨텍스트 가져오기
      var video = document.getElementById('cameraview'); // 비디오 요소 가져오기
      var formData = new FormData(); // 폼 데이터 객체 생성
      var captureCount = 0; // 캡처한 사진 수 초기화

      // 0.3초 간격으로 사진을 캡처하는 타이머 설정
      var captureInterval = setInterval(() => {
        if (captureCount >= 1) { // 사진 1장 캡처 완료 조건
          clearInterval(captureInterval); // 캡처 타이머 중단
          uploadImages(formData); // 저장된 사진 데이터를 서버로 업로드
          return; // 함수 종료
        }

        // 비디오 요소에서 현재 프레임을 캔버스로 복사
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        // 캔버스의 내용을 Blob 형태로 가져오기 (JPEG 형식)
        canvas.toBlob(blob => {
          // 폼 데이터에 Blob 추가, 파일 이름은 캡처 순서에 따라 다름
          formData.append('photo', blob, `capture_${captureCount}.jpg`);
          captureCount++; // 캡처한 사진 수 증가
        }, 'image/jpeg'); // 블롭의 MIME 타입 지정
      }, 300); // 300ms (0.3초) 간격으로 캡처 수행
    }


    //이미지 데이터 전송이 안됨 
    function uploadImages(formData) {
        // 숨겨진 form 요소를 찾습니다.
        var form = document.getElementById('uploadForm');

        // FormData 객체에서 키와 값을 추출하여 form에 추가합니다.
        for (var key of formData.keys()) {
            var value = formData.get(key);
            // input 요소를 생성하고, 해당 값을 설정합니다.
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = key;
            input.value = value; // 파일 객체인 경우 이 방식은 작동하지 않을 수 있습니다.
            form.appendChild(input);
        }

        fetch('../login_order/', {
          method: 'POST',
          body: formData
        })
          .then(response => response.json())
          .then(result => {
            console.log('Success:', result);
          })
          .catch(error => {
            console.error('Error:', error);
          });
    }



  </script>
  <form id="uploadForm" action="../image/" method="post" enctype="multipart/form-data" style="display: none;">
    <!-- 파일 입력 필드는 JavaScript를 통해 처리됩니다. -->
  </form>
  <a id="redirectLink" href="{% url 'Camera' %}" style="display: none">이동</a>
</html>
